.cart-container {
  display: flex;
  padding: 2rem 0;
  width: 100%;
  gap: 2rem;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid var(--border-muted);

  img {
    max-width: 100px;
    height: auto;
    object-fit: contain;
  }

  .cart-item-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.cart-item-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .remove-button {
    display: flex;
    padding: 6px 12px;

    background-color: transparent;
    color: black;

    &:hover {
      color: red;
    }
  }

  .quantity-controls {
    button {
      padding: 0px 12px;
    }

    input {
      font-size: 1rem;
      width: 40px;
    }
  }
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-shrink: 0;
  width: 320px;
  padding: 1.5rem;

  border-radius: 8px;
  border: 1px solid var(--border-muted);

  span {
    color: var(--text-muted);
  }

  hr {
    border: none;
    border-top: 1px solid var(--border-muted);
  }

  .subtotal {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .subtotal-row {
      display: flex;
      justify-content: space-between;
    }
  }

  .total {
    display: flex;
    justify-content: space-between;

    h3 {
      font-size: 1.25rem;
    }
  }
}
