.main-h1 {
  font-family: "Outfit", sans-serif;
  letter-spacing: 1px;
}

.cart-container {
  display: flex;
  padding: 2rem 0;
  width: 100%;
  gap: 2rem;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.cart-items-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Outfit, sans-serif;

  button {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    font-size: 1.25rem;
    font-weight: 600;

    background-color: transparent;
    color: var(--text-muted);
    transition: all 0.25s ease-in-out;

    &:hover {
      color: red;
      background-color: var(--bg-dark);
    }
  }
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--border-muted);

  img {
    max-width: 100px;
    height: auto;
    object-fit: contain;
  }

  .cart-item-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.cart-item-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .remove-button {
    display: flex;
    padding: 6px 12px;

    background-color: transparent;
    color: var(--text);

    &:hover {
      color: red;
    }
  }

  .quantity-controls {
    button {
      padding: 0px 12px;
    }

    input {
      font-size: 1rem;
      width: 40px;
    }
  }
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-shrink: 0;
  width: 320px;
  padding: 1.5rem;

  border-radius: 8px;
  border: 1px solid var(--border-muted);

  span {
    color: var(--text-muted);
  }

  hr {
    border: none;
    border-top: 1px solid var(--border-muted);
  }

  .subtotal {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .subtotal-row {
      display: flex;
      justify-content: space-between;
    }
  }

  .total {
    display: flex;
    justify-content: space-between;

    h3 {
      font-size: 1.25rem;
    }
  }
}
