footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  gap: 16px;
  font-weight: 500;

  color: var(--text-footer-muted);
  background-color: var(--bg-footer);

  a {
    color: var(--text-footer-muted);
    text-decoration: none;

    &:hover {
      color: var(--primary);
      text-decoration: underline;
    }
  }

  h2 {
    color: var(--text-footer);
    font-weight: 600;
    margin-bottom: 8px;
  }

  .footer-container {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    a {
      text-decoration: underline;
    }

    .footer-logo {
      height: 48px;
      width: auto;
      filter: brightness(0) invert(92%);
    }
  }

  .footer-links,
  .footer-contact {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
  }

  .footer-contact {
    p {
      display: flex;
      gap: 8px;
    }
  }
}

@media (max-width: 750px) {
  footer {
    justify-content: center;

    .footer-container {
      flex: none;
      width: 100%;
      max-width: none;
      margin-bottom: 10px;
    }

    .footer-links,
    .footer-contact {
      flex: none;
      margin: 10px;
    }
  }
}
