header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;

  background-color: var(--bg);
  border: 1px solid var(--border-muted);
}

nav {
  display: flex;
  gap: 10px;
  padding: 20px;
}
