header {
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0.5rem;
  width: 100%;

  background-color: var(--bg-light);
  border-bottom: 1px solid var(--border-muted);
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    display: flex;
  }
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;

  a {
    display: flex;
  }

  svg {
    color: var(--primary);
  }
}

.cart-icon {
  position: relative;

  .cart-badge {
    position: absolute;
    top: -6px;
    right: -10px;

    min-width: 24px;
    height: 24px;
    padding: 0 6px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--highlight);
    color: var(--bg-light);

    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    border-radius: 50%;
  }
}

.logo-container {
  .logo {
    height: 50px;
    width: auto;
    margin-right: 10px;
  }

  .logo-mobile {
    display: none;
    height: 50px;
    width: auto;
  }
}

@media (max-width: 768px) {
  .logo-container {
    .logo {
      display: none;
    }

    .logo-mobile {
      display: flex;
    }
  }
}
