main:has(.product-page) {
  justify-content: center;
}

.product-page {
  display: flex;
  gap: 2rem;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    text-wrap: pretty;
  }

  h3 {
    font-size: 1.25em;
  }

  p {
    color: var(--text-muted);
  }

  .product-description {
    h3 {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }
  }
}

@media (max-width: 768px) {
  .product-page {
    flex-direction: column;
  }
}
