.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;

  form {
    display: flex;
    width: 100%;
    max-width: 600px;

    input {
      width: 100%;
      padding: 5px 10px;
      border: var(--primary) solid 1px;
      border-radius: 8px 0 0 8px;
      outline: none;
    }

    button {
      border: var(--primary) solid 1px;
      border-radius: 0 8px 8px 0;
    }

    ul {
      list-style: none;
      position: absolute;
      top: 100%;
      width: 100%;
      z-index: 100;
      max-width: 600px;

      overflow: hidden;
      max-height: 0;
      opacity: 0;
      transform: translateY(-10px);
      transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
      pointer-events: none;
    }

    ul.open {
      max-height: 500px;
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;

      border: 1px solid var(--primary);
      border-top: none;
      border-radius: 0 0 8px 8px;
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      cursor: pointer;

      background-color: var(--bg-light);
      padding: 5px 10px;

      &:hover {
        background-color: var(--bg-dark);
      }
    }

    li:last-child {
      border-radius: 0 0 8px 8px;
    }
  }
}
