.shop-controls {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

select {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-family: inherit;

  color: var(--text);
  background-color: var(--bg-light);
  border: 1px solid var(--border-muted);
  border-radius: 8px;

  cursor: pointer;
  transition: all 0.2s ease;

  outline: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  padding-right: 2.5rem;

  width: 250px;

  &:hover {
    border-color: var(--primary);
  }

  &:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.1);
  }
}

option:checked {
  background-color: var(--bg-dark);
  color: var(--text);
  font-weight: 600;
}

/** new custom styles for select element below for browser that support it */
@supports selector(::picker(select)) {
  select {
    padding: 0.75rem 1rem;
    background-image: none;
  }

  /** opt-in to the new custom select functionality */
  select,
  ::picker(select) {
    appearance: base-select;
  }

  select::picker-icon {
    color: #999999;
    transition: 0.4s rotate;
  }
  select:open::picker-icon {
    rotate: 180deg;
  }

  select:open {
    border-radius: 8px 8px 0 0;
    border-color: var(--primary);
    box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.1);
  }

  option {
    padding: 6px 12px;

    &:hover {
      background-color: var(--bg-dark);
    }

    &::checkmark {
      display: none;
    }
  }

  ::picker(select) {
    border: 1px solid var(--border-muted);
    border-top: none;
    opacity: 0;
    transition: all 0.2s allow-discrete;
  }

  /*! This blocks deploy */
  /* ::picker(select):popover-open {
    opacity: 1;
  }
  @starting-style {
    ::picker(select):popover-open {
      opacity: 0;
    }
  } */
}

@media (max-width: 768px) {
  .shop-controls {
    flex-direction: column;
  }
}
