.shop-title {
  font-family: Outfit, sans-serif;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.load-more-sentinel {
  height: 20px;
  margin: 10px;
  color: var(--text-muted);
}

@media (max-width: 425px) {
  .shop-title {
    font-size: 1.5rem;
  }
}
