*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select,
dialog {
  font: inherit;
}

/* =========== reset ends here ============ */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color: var(--text);
  background-color: var(--bg-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  font-weight: 600;
  color: var(--text);
  text-decoration: none;
}
a:hover {
  color: var(--btn-hover);
}
a:active {
  color: var(--btn-active);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;

  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  text-wrap: pretty;
  max-width: 60ch;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--btn-text);
  background-color: var(--primary);
  cursor: pointer;
  transition:
    background-color 0.15s ease-in-out,
    color 0.15s ease-in-out;
}
button:hover {
  color: var(--btn-text-hover);
  background-color: var(--btn-hover);
}
button:active {
  background-color: var(--btn-active);
}
